<h1>My cart</h1>



<section class="s2">
<label class="ll1">
<table class="menu-heading">
  <tr>
    <th class="menu-title">Order id</th>
    <th class="menu-title">Menu name</th>
    <th class="menu-title">Menu price</th>
    <th class="menu-title">Status</th>
    
  </tr>
 
  
    <% user= User.find(@current_user.id)%>
    <% user.orderitems.each do |i| %>
      <tr>
    <td class="menu-title"> <%= i.order_id %> </td>
    <td class="menu-title"> <%= i.menu_name %> </td>
    <td class="menu-title"> <%= i.menu_price %> </td>
    <% if Order.find(i.order_id).status==true%> 
      <td class="menu-title"> Delivered </td>
    <% elsif Order.find(i.order_id).status==nil%>
     <td class="menu-title"> Pending </td>
    <% else%>
      <td class="menu-title"> Pending</td>
    <%end%>
    
 
    
    <%end%>
    </td>
    </tr>
  
  

  </table>